body {
    margin: 0px;
    background-color: #ffffff;
}

.search {
    width: 90%;
    height: 40px;
    overflow: hidden;
    margin-left: 5%;
    z-index: 2;
    position: fixed;
    top: 62px;
    left: 0;
    background-color: #ffffff;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);


}

.search input {
    width: 90%;
    height: 70%;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 3px;
    margin-left: 5%;
    padding-left: 20px;
    font-size: 16px;
    font-family: 'Arial', sans-serif;
    color: #333;
    font-weight: 500;
    outline-color: #feba1a7b;
}

.search input :focus {
    outline-color: #feb91a;
}

.product_elements {

    margin-top: 130px;
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    overflow: hidden;
}
.product_elements .product_top{
    width: 100%;
    margin-bottom: 20px;
}
.product_elements .product_top .product_image {
    float: left;
    width: 60%;
    height: 450px;
    overflow: hidden;
    z-index: 1;
}

.product_elements .product_top .product_image #main_image {
    width: 100%;
    height: 100%
}


.product_elements .product_top .product_details {
    height: 450px;
    overflow: hidden;
    padding-left: 20px;
}


.product_elements .product_images {
    background-color: #feb91a;
    float: left;
    width: 60%;
    height: auto;
    overflow: hidden;
    z-index: 2;
    padding-left: 10px;

}

.product_elements .product_images img {
    border-radius: 4px;
    width: 40px;
    height: 40px;
    opacity: 0.5;
    border: 1px solid #feb91a;
}



.product_description {
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    overflow: hidden;
}

.see_also {
    width: 90%;
    height: auto;
    margin-left: 5%;
    margin-right: 5%;
    overflow: hidden;
}

/* products */
.parent {
    width: 90%;
    height: auto;
    margin-left: 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow: auto;

}

.parent .item {
    position: relative;
    width: 300px;
    height: 400px;
    overflow: hidden;
    float: left;
    margin: auto;
    background-color: #ffc338;
    border: 0px;
    border-radius: 5px;
    margin-bottom: 25px;


}

.parent .item img {
    width: 295px;
    height: 300px;
    overflow: auto;
    padding-left: 2.5px;
    padding-top: 2.5px;
    border: 0px;
    border-radius: 5px;


}


.parent .item #name {

    color: #292929;
    padding-left: 18px;
    text-transform: capitalize;
    text-align: justify;
}

.parent .item #price {
    color: #292929;
    padding-left: 18px;
    text-transform: capitalize;
}


.parent .item #cart_icon {
    width: 30px;
    height: 30px;
    padding: 6px;
    background-color: #ffc338;
    position: absolute;
    bottom: 96px;
    right: 30px;
    border: 0px;
    border-radius: 3px 3px 0px 0px;
    z-index: 1;
}

.parent .item #cart_icon:hover {
    cursor: pointer;
    position: absolute;
    bottom: 94px;
    right: 30px;
}