    header {
        width: 100%;
        height: 55px;
        padding-top: 7.5px;
        border-radius: 0px 0px 15px 15px;
        background-color: #181818;
        overflow: hidden;
        position: sticky;
        top: 0;
        z-index: 1020;
        box-shadow: 0px 0px 5px #000000;
    }

    .header img {
        width: 200px;
        height: auto;
        padding-left: 25px;
        padding-top: 5px;
    }

    .header ul {
        width: 60%;
        height: 40px;
        float: right;
        list-style-type: none;
    }

    .header ul li a {
        margin-left: 15px;
        float: left;
        color: white;

    }

    .header ul li a:hover {
        color: #feb91a;
        text-decoration: none;

    }

    .header ul li a:active {
        color: #feb91a;
        text-decoration: none;
    }